@media (max-width: 992px) {
    .linear-template {
        height: 572px;
        flex-direction: column;
    }
    .header-container > .nav {
        display: none;
    }
    .nav-block > .nav-bar {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 15px;
      }
}

@media (max-width: 883px) {
    .linear-template {
        height: 675px;
    }
}

@media (max-width: 767px) {
    .linear-template {
        background: linear-gradient(to bottom, #1a2e35 40%, #1cbbb4 40%);
        height: 1236px;
    }
}