@media (max-width: 1080px) {
    .header > .nav-bar {
        margin: 0;
    }

    .slider-section {
        padding: 60px;
    }

    .category-section > .container {
        margin: 0 100px;
    }

    .work-items > .work-box {
        width: 500px;
    }
}

@media (max-width: 1050px) {
    .header > .nav-bar {
        display: none;
    }

    .freelance-container > .row {
        flex-wrap: wrap;
    }

    .work-items > .work-box {
        width: 100%;
    }

    .freelance-container > .row > .colm1 {
        width: 100%;
    }
}

@media (max-width: 720px) {
    .linear-template {
        background: linear-gradient(to bottom, var(--left-color) 45%, var(--right-color) 45%);
    }

    .slider-section {
        padding: 0;
    }

    .vertical-space {
        height: 100px;
    }

    .slider-section > .container {
        flex-wrap: wrap;
    }

    .slider-section > .container > .detail-box {
        text-align: center;
    }

    .btn-box {
        justify-content: center;
    }

    .experienced-section > .container > .row {
        flex-wrap: wrap;
    }

    .column2 > .detail-box > .btn-box {
        justify-content: flex-start;
    }

    .box-items > .box {
        flex-basis: 50%;
    }
}

@media (max-width: 480px) {
    .box-container > .box-items {
        display: block;
    }

    .about-section > .container {
        margin: 0 32px;
    }

    .freelance-section > .container {
        margin: 0 10px;
    }
}

@media (max-width: 360px) {
    .linear-template {
        background: linear-gradient(to bottom, var(--left-color)60%, var(--right-color) 60%);
    }

    .slider-section > .container > .detail-box > h1 {
        margin: 30px 0;
    }

    .vertical-space {
        width: 0;
    }
    
    .layout-padding > .container {
        margin: 0 20px;
    }

    .freelance-section > .container {
        margin: 0 2px;
    }

    .freelance-container > .row > .colm1 > .heading-container > h2 {
        font-size: 24px;
    }

    .work-box > .work-title > p {
        font-size: 17px;
    }

    .work-box > .work-title > h4 {
        font-size: 21px;
    }
}